.product-img{
    height: 200px;
    width: 150px;
}
.product{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.product p{
    min-height:3rem;
}
.product:hover .product-actions{
    opacity: 1;
}
.product-actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(5, 4, 4, 0.781);
    color: white;
    font-weight: bold !important;
}
.product-info-img{
    height:70vh;
}
.total-amount{
    background-color: rgb(117, 196, 216);
   padding: 10px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   font-weight: bold;
}
.total-amount:hover{
    background-color: rgba(6, 6, 236, 0.685);
    color: white;
}